body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #888888;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Handlee', cursive;
  font-size: 562.5%;
  color: #888888;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #888888;
  font-size: 300%;
  margin-top: 0;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #888888;
}

a {
  color: #888888;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

hr {
  border-color: #888888;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 4%;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #ffe8df;
  padding: 100px 100px 0 100px;
  position: relative;
}

.middle-container {
  background-color: #ffffff;
  padding: 100px 0 0 0;
}

.bottom-container {
  background-color: #ffe8df;
  margin-bottom: 0;
}

.copyright {
  margin: 0 auto 0 auto;
  color: #ffffff;
  font-size: 0.75rem;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.attribute {
  font-size: x-small;
}

.skills {
  background-color: #ffffff;
}

.profile-pic {
  margin-top: 15px;
}

.subtitle {
  font-weight: normal;
  font-size: 100%;
}

.skills {
  margin: 100px 0 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
}

.mid-skills {
  margin-top: 100px
}

.coding {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}

.photography {
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 30px;
}

.contact-me {
  background-color: #ffffff;
  padding: 100px 0 100px 0;
}

.photography-desc {
  margin-bottom: 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.footer-link {
  margin: 20px 10px;
}

.btn {
	background-color:#ffe8df;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	display:inline-block;
	color:#888888;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
  height:50px;
	line-height:50px;
  width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #ffffff;
}
.btn:hover {
	background-color:#ffffff;
}
.btn:active {
	position:relative;
	top:1px;
}
